@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Frank+Ruhl+Libre:wght@300..900&family=IM+Fell+English+SC&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

$raleway: "Raleway", sans-serif;
$roboto: "Roboto Mono", monospace;
$English: "IM Fell English SC", serif;
// color
$naturalBlack: rgb(32, 31, 49);
$secondaryBlack: #2a2431;
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $naturalBlack;
}
.logo {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 200px;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  a {
    color: #f5f5f5;
    text-decoration: none;
    font-family: $roboto;
  }
}
.cont {
  height: 90vh;
  width: 100%;
  position: relative;
}
.home-container {
  .front-cont {
    @include absCenter();
    height: 80%;
    width: 98%;
    border-radius: 20px;
    background: $secondaryBlack;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    // box-shadow: inset 0px 0px 120px 130px rgba(0, 0, 0, 0.7);
    .front-captions-cont {
      position: absolute;
      top: 35%;
      left: 5%;
      z-index: 2;
      .social-links-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        .socials-logo {
          width: 35px;
          filter: invert(1);
          opacity: 0.8;
          pointer-events: none;
        }
      }
    }
    .left {
      width: 40%;
      padding: 40px;
      position: relative;
      z-index: 2;
    }
    .right {
      width: 60%;
      height: 100%;
      padding: 10px;
      position: relative;
      background: none;
      z-index: -1;
    }
  }
  @media (max-width: 700px) {
    .front-cont {
      .front-captions-cont {
        top: 30%;
        left: 3%;
        .social-links-container {
          gap: 10px;
          .socials-logo {
            width: 30px;
          }
        }
      }
      .left {
        display: none;
      }
      .right {
        width: 100%;
        height: 100%;
        padding: 10px;
        position: relative;
        background: none;
        z-index: -1;
      }
    }
  }
}
.summary-container {
  @include flexCenter();
  flex-direction: column;
  .summary-background {
    @include absCenter();
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
  }
  .title {
    font-family: $raleway;
    color: $secondaryBlack;
    font-size: 1.6rem;
    color: #f48cff;
  }
  .label {
    padding: 30px;
    width: 80%;
    // background: url("../assets/homeimages/summaryDesign.png") no-repeat;
    background-size: contain;
    color: #f5f5f5;
    font-family: $raleway;
    text-align: center;
  }
  .list-of-technology {
    @include flexCenter();
    list-style-type: none;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    li {
      width: 6%;
      .tech-img {
        width: 100%;
      }
      .three-logo {
        filter: invert(1);
      }
    }
  }
}
.project-container {
  background: #504e6b;
  margin-top: 20vh;
  padding: 100px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  .project-box {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    @include flexCenter();
    flex-direction: column;
    .top-bx {
      @include flexCenter();
      width: 100%;
      .top-img {
        position: relative;
        width: 75%;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
      }
    }
    .info-bx {
      border: 2px solid rgba(28, 10, 51, 0.8);
      background: #d4e9da;
      border-radius: 10px;
      transform: translateY(-40px);
      opacity: 0.8;
      width: 80%;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .info-left {
        width: 70%;

        .project-ttle {
          font-family: $English;
          font-size: 3rem;
          color: $secondaryBlack;
          margin-bottom: 10px;
        }
        .project-desc {
          font-family: $raleway;
          padding-left: 5px;
          margin-bottom: 30px;
        }
      }
      .info-ss {
        @include flexCenter();
        gap: 10px;
        flex-direction: column;
        .ss-img {
          width: 170px;
          border-radius: 5px;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
// CONTENT PAGE
.content-page {
  position: relative;
  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    .background-video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Cover the entire container */
      transform: translate(-50%, -50%);
      z-index: 1; /* Behind the content */
    }
  }
  .half-section {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 80vh;
    .title {
      @include absCenter();
      top: 0;
      font-size: 3rem;
      font-family: $English;
      color: #f5f5f5;
      letter-spacing: 2px;
      z-index: 2;
      display: none;
    }
    .game-logo {
      @include absCenter();
      top: 0;
      z-index: 2;
      width: 400px;
    }
    .story {
      height: auto;
      padding: 150px 80px;
      // box-shadow: inset 0px 0px 100px 140px rgba(0, 0, 0, 0.8);
      .story-backg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        filter: brightness(50%) contrast(80%) blur(5px);
      }
      .story-ttle {
        position: relative;
        font-family: $English;
        font-size: 2rem;
        color: #f5f5f5;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        z-index: 2;
      }
      .game-info {
        position: relative;
        @include flexCenter();
        gap: 50px;
        margin-bottom: 70px;
        z-index: 2;
        .label {
          width: 150px;
          color: rgba(115, 213, 226, 0.924);
          font-family: $raleway;
          font-size: 0.8rem;
          text-align: center;
        }
        .answer-cap {
          color: #f5f5f5;
        }
      }
      .game-desc {
        position: relative;
        z-index: 2;
        color: rgba(229, 240, 245, 0.849);

        .starting-cap {
          font-family: $roboto;
          margin-bottom: 40px;
          font-size: 1.4rem;
          font-weight: 600;
          letter-spacing: 1px;
        }
        .end-caption {
          font-family: $raleway;
          font-size: 1.1rem;
          margin-top: 25px;
        }
        .story-lines {
          list-style-type: none;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          gap: 7px;
          .desc {
            font-family: $raleway;
            font-size: 1.1rem;
          }
        }
      }
      .platforms-section {
        margin-top: 100px;
        margin-bottom: 60px;
        .link-lists {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 20px;
          padding: 10px;
          .linkbtn {
            text-decoration: none;
            padding: 13px 15px;
            font-family: $raleway;
            background: none;
            color: white;
            border: 1px solid white;
            border-radius: 3px;
          }
        }
      }
      .youtube-container {
        position: relative;
        width: 100%;
        height: 70vh;
        @include flexCenter();
      }
    }
    .gameplay-container {
      position: relative;
      width: 100%;
      padding: 100px;
      .features-list {
        padding: 10px;
        @include flexCenter();
        flex-direction: column;
        gap: 150px;
        margin-top: 100px;
        .feature-bx {
          @include flexCenter();
          flex-wrap: wrap;
          gap: 20px;
          .left {
            position: relative;
            @include flexCenter();
            width: 400px;
            height: 180px;
            overflow: hidden;
            border-radius: 3px;
            .feature-border {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 2px 5px;
            }
            .feature-img {
              width: 100%;
            }
          }
          .right {
            width: 400px;

            .feature-ttle {
              transform: translateX(-20%);
              margin-bottom: 40px;
              padding: 10px 10px;
              border-radius: 2px;
              width: 300px;
              text-align: center;
              color: #f5f5f5;
              font-family: $roboto;
            }
            .feature-cap {
              margin-bottom: 30px;
              font-family: sans-serif;
            }
          }
        }
      }
    }
    .bottom {
      position: relative;
      width: 100%;
      padding: 100px;
      @include flexCenter();
      flex-direction: column;
      .center-div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 100px 10px;
      }
      .member-bx {
        width: 200px;
        @include flexCenter();
        flex-direction: column;
        color: #f5f5f5;
        gap: 5px;
        .member-img {
          width: 55%;
          height: 55%;
          border-radius: 50%;
          margin-bottom: 20px;
        }
        .member-name {
          font-family: $roboto;
          font-size: 0.9rem;
        }
        .member-role {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
        .red-label {
          color: crimson;
          font-size: 1.1rem;
        }
      }
    }
    @media (max-width: 740px) {
      .title {
        font-size: 2.8rem;
      }
      .story {
        padding: 100px 20px;
        .story-ttle {
          font-size: 1.6rem;
        }
        .game-info {
          gap: 30px;
          margin-bottom: 60px;
        }
        .game-desc {
          .story-lines {
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 7px;
            .desc {
              font-family: $raleway;
              font-size: 1.1rem;
            }
          }
        }
        .platforms-section {
          margin-top: 100px;
          margin-bottom: 60px;
          .link-lists {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            padding: 10px;
            .linkbtn {
              text-decoration: none;
              padding: 13px 15px;
              font-family: $raleway;
              background: none;
              color: white;
              border: 1px solid white;
              border-radius: 3px;
            }
          }
        }
        .youtube-container {
          position: relative;
          width: 100%;
          height: 70vh;
          @include flexCenter();
        }
      }
      .gameplay-container {
        padding: 90px 30px;
        .features-list {
          padding: 10px;
          gap: 120px;
          .feature-bx {
            .left {
              width: 380px;
              height: 170px;
            }
            .right {
              width: 380px;
              .feature-ttle {
                transform: translateX(-10%);
                margin-bottom: 40px;
                padding: 10px 10px;
                border-radius: 2px;
                width: 300px;
                text-align: center;
                color: #f5f5f5;
                font-family: $roboto;
              }
              .feature-cap {
                margin-bottom: 30px;
                font-family: sans-serif;
              }
            }
          }
        }
      }
      .bottom {
        position: relative;
        width: 100%;
        padding: 100px;
        @include flexCenter();
        flex-direction: column;
        .center-div {
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          padding: 100px 10px;
          flex-wrap: wrap;
          gap: 40px;
        }
        .member-bx {
          width: 200px;
          @include flexCenter();
          flex-direction: column;
          color: #f5f5f5;
          gap: 5px;
          .member-img {
            width: 55%;
            height: 55%;
            border-radius: 50%;
            margin-bottom: 20px;
          }
          .member-name {
            font-family: $roboto;
            font-size: 0.9rem;
          }
          .member-role {
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
              sans-serif;
          }
          .red-label {
            color: crimson;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
footer {
  @include flexCenter();
  padding: 30px;
  color: #f5f5f5;
  font-family: $roboto;
  font-size: 1.1rem;
}
@media (max-width: 700px) {
  .project-container {
    padding: 90px 10px;
    .project-box {
      padding: 10px;
      .top-bx {
        .top-img {
          width: 580px;
          height: 330px;
        }
      }
      .info-bx {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .info-left {
          width: 90%;
          .project-ttle {
            font-family: $English;
            font-size: 3rem;
            color: $secondaryBlack;
          }
          .project-desc {
            font-family: $raleway;
            padding-left: 5px;
          }
        }
        .info-ss {
          @include flexCenter();
          flex-direction: column;
          margin-top: 20px;

          .ss-img {
            width: 80%;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
// stack lists
.my-stack-lists {
  width: 80%;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #c7c0c0;
  font-family: "Times New Roman", Times, serif;
}
.header1 {
  font-family: $raleway;
  font-size: 5vh;
  font-weight: 500;
  color: #f5f5f5;
}
.header3 {
  font-family: $roboto;
  font-size: 2rem;
  color: #706cb3;
}
// carousel
.blury-black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 30px 30px rgba(42, 36, 49, 0.8);
  background: linear-gradient(
    to right,
    rgba(42, 36, 49, 1),
    rgba(42, 36, 49, 0.9),
    rgba(42, 36, 49, 0.7),
    rgba(42, 36, 49, 0.4),
    rgba(42, 36, 49, 0.3),
    transparent,
    transparent
  );
  z-index: 2;
  pointer-events: none;
}
.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.carousel-images {
  outline: none;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background: none;
  border: none;
}

.carousel-image {
  outline: none;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 30px 30px rgba(42, 36, 49, 0.8);
}

.carousel-image.active {
  opacity: 1;
}
.big-caption {
  font-family: $roboto;
  font-size: 2rem;
  color: #f5f5f5;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
